.App{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  flex-direction: column;
}

.body{
  margin: 0%;
  padding: 0%;
}


.TitleSection{
  background-image: linear-gradient(#0c88e8,#9cbed8);
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}



.TitleSection input{
  width: 400px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #4ca8ee;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button{
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  border: none;
  background-color: #006cbf;
  font-size: 18px;
  color: white;
}

.TitleSection button:hover{
  cursor: pointer;
}



.DisplaySection{
  /* display: flex; */
  width: 100%;
  background-image: linear-gradient(#ffafbd,#e9dbd2);
  margin: 38px;
  font-size:20px;
}

.res{
  /* display: flex; */
  font-family: 'Fuzzy Bubbles', cursive;
  grid-row: 1;
  margin: 30px;
  padding-left: 30px;
}

.url{
  color: white;
}

